:root {
  --color-212529: #212529;
  --color-ffd333: #ffd333;
  --color-47ad24: #47ad24;
  --color-e52e2e: #e52e2e;
  --color-828599: #828599;
  --color-3d464d: #ed464d;
  --color-c3d4da: #ced4da;
}

.previous {
    background-color: #fff !important;
    color: #ffd333;
    border: 1px solid #ffd333;
    min-width: 85px !important;
  }
  
.next, .add {
    background-color: #ffd333 !important;
    color: #fff;
    min-width: 85px !important;
}

.title {
  font: 28px;
  font-family: Roboto !important;
  color: var(--color-212529);
}

.sub-title {
  font: 24px;
  font-family: Roboto !important;
  color: var(--color-212529);
}
.desc {
  font: 14px;
  font-family: Roboto !important;
  color: var(--color-828599);
}